/* color palette */

:root {
  --color--primary: #f6eedf;
  --color--secondary: #f64b3c;
}

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* setting html element front size to 10px for ease of calc pxs */
html {
  font-size: 62.5%;
}

/* typograpphy */

body {
  font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2.4rem;
  /* margin: 2rem; */
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}

/* font sizes */
h1 {
  font-size: 9rem;
  font-weight: 800;
}
h2 {
  font-size: 7.5rem;
  font-weight: 600;
}
h3 {
  font-size: 3.3rem;
}

/* button */

.btn {
  border-radius: 3rem;
  border: 0;
  padding: 1rem 4rem;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  white-space: nowrap;
}

.btn--primary {
  color: var(--color--secondary);
  background-color: #fff;
}

.btn--secondary {
  color: #fff;
  background: var(--color--secondary);
}

.btn--block {
  width: 100%;
}
.btn--rounded-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem 2rem;
  font-weight: normal;
}

/* hover effect */
.btn:hover {
  background: #fff;
}

.btn--primary:hover {
  background-color: #d3d3d3;
}
.btn--secondary:hover {
  background: #f3887e;
}

/* inout group */

.email {
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
  color: #d1c4b8;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  outline: none;
  padding: 1rem 3rem;
  white-space: nowrap;
}

.input-group {
  display: flex;
  box-shadow: 0 0 30px 20px lightgray;
  border-collapse: collapse;
  border-radius: 3rem;
}

.input-group .email {
  flex-grow: 1;
  border: 0;
  padding-right: 0;
}

.input-group .btn {
  margin: 0;
}

/* media element */
.media {
  align-items: center;
  border-radius: 5px;
  /* border: 1px solid var(--color--secondary); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 2rem 2rem;
}
.media__image {
  border-radius: 50%;
  height: 225px;
  width: 225px;
  margin-bottom: 2rem;
}

.media__founder {
  color: var(--color--secondary);
  text-align: center;
  white-space: nowrap;
}

.media__position {
  color: var(--color--secondary);
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

/* score card */

.container {
  max-width: 1068px;
  margin: auto;
  align-self: center;
}
.score-card {
  border: 5px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  justify-content: center;
  align-items: center;
  width: 30vw;
  max-width: 300px;
  height: 30vw;
  max-height: 300px;
  margin: 1rem 0;
}
.score-card__heading {
  font-size: 10vw;
  font-weight: 700;
  line-height: 1;
}

.score-card__text {
  font-size: 2vw;
  font-weight: bold;
  margin: 0;
}

/* card-package */
.card-package {
  /* margin: 0 auto; */
  border-radius: 5px;
  max-width: 400px;
  padding: 2rem 2rem;
  text-align: center;
  background-color: #fff;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.card-package__heading {
  color: var(--color--secondary);
  font-weight: 700;
  text-transform: uppercase;
}
.card-package__image {
  width: 100px;
  height: 100px;
}
.card-package__price {
  color: var(--color--secondary);
  display: block;
  font-size: 3.3rem;
  font-weight: 700;
}
.card-package__description {
  color: var(--color--secondary);
  font-size: 2rem;
  font-weight: 400;
}

/* lists */

.list {
  color: #fff;
  /* display: flex;
  flex-direction: column; */
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  vertical-align: middle;
}
.list__item {
  text-align: center;
}

.list--inline .list__item {
  display: inline-block;
  margin: 0 1rem;
}
.list__item a {
  color: #fff;
}

.grid {
  display: grid;
  gap: 1rem 6rem;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* nav bar */

.navbar {
  align-items: center;
  background: #000;
  display: flex;
  justify-content: space-between;
}
.navbar__brand-logo {
  height: 100px;
  width: 100px;
}

/* hero section */

.hero-block {
  background-image: url("../assets/images/hero.png");
  color: #fff;
  background-size: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  line-height: 1;
}
.hero-block__heading {
}
.hero-block__content {
  max-width: 700px;
  margin-left: 7rem;
}

.hero-block-description {
  font-size: 3.2rem;
}
.hero-block .container {
  margin: auto 0;
}

/* chef section */
.block-chef {
  background-color: var(--color--primary);
  color: var(--color--secondary);
  height: 100vh;
  width: 100vw;
  text-align: center;
  line-height: 1.1;
  align-content: center;
}
.block-chef__contents {
  display: flex;
  justify-content: space-between;
}

.block-chef__heading {
  font-size: 6.3rem;
  margin-bottom: 2rem;
}
.block-chef__chef-description {
  margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .block-chef__contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block-chef {
    height: 100%;
  }
}

/* best burger section */
.block-bestBurger {
  padding: 2rem 2rem;
  background-color: var(--color--secondary);
  align-content: center;
  height: 100vh;
  color: #fff;
}
.block-bestBurger__image {
  width: 100%;
  max-width: 450px;
  /* height: 100%; */
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}
.block-bestBurger__content {
  align-self: center;
  justify-self: center;
  text-align: left;
}
.block-bestBurger__heading {
  font-size: 7.5rem;
  font-weight: 700;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}
.block-bestBurger__description {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 768px) {
  .block-bestBurger {
    height: 100%;
  }
  .block-bestBurger__content {
    text-align: center;
  }
}

/* big burger */
.block-bigburger {
  background-color: var(--color--primary);
  color: var(--color--secondary);
}

.block-bigburger .block-bestBurger__content {
  order: -1;
  margin-bottom: 4rem;
}

/* block-statistics */
.block-statistics {
  background-color: var(--color--secondary);
  height: 100vh;
  align-content: center;
}
.block-statistics__content {
  display: flex;
  justify-content: space-around;
}
.block-statistics__header {
  text-align: center;
  color: #fff;
}

.block-statistics__heading {
  font-size: 6.2rem;
  font-weight: 700;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}
.block-statistics__description {
  font-size: 2.5rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .block-statistics__content {
    flex-direction: column;
    align-items: center;
  }
}

/* popular package section */

.block-popularPackage {
  background-color: var(--color--primary);
  color: var(--color--secondary);
  height: 100vh;
  text-align: center;
  align-content: center;
}
.block-popularPackage__content {
  display: flex;
}
.block-popularPackage__heading {
  font-size: 7.5rem;
  font-weight: 700;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .block-popularPackage {
    height: 100%;
  }
  .block-popularPackage__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
