/* color palette */

:root {
  --color--primary: #f6eedf;
  --color--secondary: #f64b3c;
}

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* setting html element front size to 10px for ease of calc pxs */
html {
  font-size: 62.5%;
}

/* typograpphy */

body {
  font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2.4rem;
  margin: 2rem;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}

/* font sizes */
h1 {
  font-size: 9rem;
  font-weight: 800;
}
h2 {
  font-size: 7.5rem;
  font-weight: 600;
}
h3 {
  font-size: 3.3rem;
}

/* button */

.btn {
  border-radius: 3rem;
  border: 0;
  padding: 1rem 4rem;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  white-space: nowrap;
}

.btn--primary {
  color: var(--color--secondary);
  background-color: #fff;
}

.btn--secondary {
  color: #fff;
  background: var(--color--secondary);
}

.btn--block {
  width: 100%;
}
.btn--rounded-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem 2rem;
  font-weight: normal;
}

/* hover effect */
.btn:hover {
  background: #fff;
}

.btn--primary:hover {
  background-color: #d3d3d3;
}
.btn--secondary:hover {
  background: #f3887e;
}

/* inout group */

.email {
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
  color: #d1c4b8;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  outline: none;
  padding: 1rem 3rem;
  white-space: nowrap;
}

.input-group {
  display: flex;
  box-shadow: 0 0 30px 20px lightgray;
  border-collapse: collapse;
  border-radius: 3rem;
}

.input-group .email {
  flex-grow: 1;
  border: 0;
  padding-right: 0;
}

.input-group .btn {
  margin: 0;
}

/* media element */
.media {
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--color--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 2rem 2rem;
}
.media__image {
  border-radius: 50%;
  height: 225px;
  width: 225px;
}

.media__founder {
  color: var(--color--secondary);
  text-align: center;
  white-space: nowrap;
}

.media__position {
  color: var(--color--secondary);
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

/* score card */

.container {
  background: var(--color--secondary);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.score-card {
  border: 5px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  justify-content: center;
  align-items: center;
  width: 30vw;
  max-width: 300px;
  height: 30vw;
  max-height: 300px;
  margin: 1rem 0;
}
.score-card__heading {
  font-size: 10vw;
  font-weight: 700;
  line-height: 1;
}

.score-card__text {
  font-size: 2vw;
  font-weight: bold;
  margin: 0;
}

/* card-package */
.card-package {
  /* margin: 0 auto; */
  border-radius: 3px;
  border: 1px solid tomato;
  max-width: 400px;
  padding: 2rem 2rem;
  text-align: center;
}
.card-package__heading {
  color: var(--color--secondary);
  font-weight: 700;
  text-transform: uppercase;
}
.card-package__image {
  width: 100px;
  height: 100px;
}
.card-package__price {
  color: var(--color--secondary);
  display: block;
  font-size: 3.3rem;
  font-weight: 700;
}
.card-package__description {
  color: var(--color--secondary);
  font-size: 2rem;
  font-weight: 400;
}
