/* color palette */

:root {
  --color--primary: #f6eedf;
  --color--secondary: #f64b3c;
}

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* setting html element front size to 10px for ease of calc pxs */
html {
  font-size: 62.5%;
}

/* typograpphy */

body {
  font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2.4rem;
  margin: 2rem;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}

/* font sizes */
h1 {
  font-size: 9rem;
  font-weight: 800;
}
h2 {
  font-size: 7.5rem;
  font-weight: 600;
}
h3 {
  font-size: 3.3rem;
}

/* button */

.btn {
  border-radius: 3rem;
  border: 0;
  padding: 1rem 4rem;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-transform: uppercase;
  margin: 1rem 2rem;
}

.btn--primary {
  color: var(--color--secondary);
  background-color: #fff;
}

.btn--secondary {
  color: #fff;
  background: var(--color--secondary);
}

.btn--block {
  width: 100%;
}
.btn--rounded-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem 2rem;
  font-weight: normal;
}

/* hover effect */
.btn:hover {
  background: #fff;
}

.btn--primary:hover {
  background-color: #d3d3d3;
}
.btn--secondary:hover {
  background: #f3887e;
}
