<section class="block-bestBurger">
  <div class="container grid grid--1x2">
    <img
      class="block-bestBurger__image"
      src="assets/images/burger.png"
      alt="the best bruger on eaton"
    />
    <div class="block-bestBurger__content">
      <h2 class="block-bestBurger__heading">Best Burger</h2>
      <p class="block-bestBurger__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, amet.
      </p>
      <a href="" class="btn btn--primary">order now</a>
    </div>
  </div>
</section>
