<section class="block-chef">
  <div class="container">
    <header class="block-chef__header">
      <h2 class="block-chef__heading">Our Chef</h2>
      <p class="block-chef__chef-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eius
        iure inventore omnis, ipsum voluptatum.
      </p>
    </header>
    <div class="block-chef__contents">
      <article class="media">
        <img
          class="media__image"
          src="assets/images/CEO.png"
          alt="CEO of Eatries"
        />
        <h3 class="media__founder">AIDEN HUNTER</h3>
        <p class="media__position">Founder</p>
      </article>
      <article class="media">
        <img
          class="media__image"
          src="assets/images/cook1.png"
          alt="CEO of Eatries"
        />
        <h3 class="media__founder">ETHEL RAMSAY</h3>
        <p class="media__position">Co-Founder</p>
      </article>
      <article class="media">
        <img
          class="media__image"
          src="assets/images/cook2.png"
          alt="CEO of Eatries"
        />
        <h3 class="media__founder">FANNIE STEWART</h3>
        <p class="media__position">Co-Founder</p>
      </article>
    </div>
  </div>
</section>
