<footer class="footer-section">
  <div class="container grid grid--auto-fit">
    <div class="footer-section__company-profile">
      <h2 class="footer-section__company-name">Dehli Daily</h2>
      <p class="footer-section__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sint
        sapiente saepe quod id ab debitis quaerat mollitia incidunt voluptas.
      </p>
      <div class="footer-section__social-media-links">
        <img
          class="footer-section__icon"
          src="assets/images/insta-Icon.png"
          alt="instagram icon "
        />
        <img
          class="footer-section__icon"
          src="assets/images/facebook-icon.png"
          alt="instagram icon "
        />
        <img
          class="footer-section__icon"
          src="assets/images/twitter-icon.png"
          alt="instagram icon "
        />
        <img
          class="footer-section__icon"
          src="assets/images/whatsapps-icon.png"
          alt="instagram icon "
        />
      </div>
    </div>
    <div class="footer-section__about">
      <h3 class="footer-section__heading">About</h3>
      <ul class="list">
        <li class="list__item"><a href="#">History</a></li>
        <li class="list__item"><a href="#">our Team</a></li>
        <li class="list__item"><a href="#">Brand Guidelines</a></li>
        <li class="list__item"><a href="#">Terms & Conditions</a></li>
        <li class="list__item"><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-section__services">
      <h3 class="footer-section__heading">Services</h3>
      <ul class="list">
        <li class="list__item"><a href="#">How to Order</a></li>
        <li class="list__item"><a href="#">Our Product</a></li>
        <li class="list__item"><a href="#">Order Status</a></li>
        <li class="list__item"><a href="#">Promo</a></li>
        <li class="list__item"><a href="#">Payment Method</a></li>
      </ul>
    </div>
    <div class="footer-section__other">
      <h3 class="footer-section__heading">Other</h3>
      <ul class="list">
        <li class="list__item"><a href="#">Contact Us</a></li>
        <li class="list__item"><a href="#">Help</a></li>
        <li class="list__item"><a href="#">Privacy</a></li>
      </ul>
    </div>
  </div>
</footer>
