<section class="block-popularPackage">
  <div class="container">
    <header class="block-popularPackage__header">
      <h2 class="block-popularPackage__heading">Popular Package</h2>
    </header>
    <div class="block-popularPackage__content">
      <article class="card-package">
        <h3 class="card-package__heading">Package - I</h3>
        <img
          src="assets/images/burger-icon.png"
          alt=""
          class="card-package__image"
        />
        <span class="card-package__price">$10.00</span>
        <p class="card-package__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magni
        </p>
        <a href="#" class="btn btn--secondary btn--block">order now</a>
      </article>
      <article class="card-package">
        <h3 class="card-package__heading">Package - II</h3>
        <img
          src="assets/images/burger-icon.png"
          alt=""
          class="card-package__image"
        />
        <span class="card-package__price">$20.00</span>
        <p class="card-package__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magni
        </p>
        <a href="#" class="btn btn--secondary btn--block">order now</a>
      </article>
      <article class="card-package">
        <h3 class="card-package__heading">Package - III</h3>
        <img
          src="assets/images/burger-icon.png"
          alt=""
          class="card-package__image"
        />
        <span class="card-package__price">$30.00</span>
        <p class="card-package__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magni
        </p>
        <a href="#" class="btn btn--secondary btn--block">order now</a>
      </article>
    </div>
  </div>
</section>
