<section class="block-statistics">
  <div class="container">
    <header class="block-statistics__header">
      <h2 class="block-statistics__heading">Statistics</h2>
      <p class="block-statistics__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt,
        inventore. Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Iure, facere!
      </p>
    </header>
    <div class="block-statistics__content">
      <article class="score-card">
        <h3 class="score-card__heading">7k</h3>
        <p class="score-card__text">customer</p>
      </article>
      <article class="score-card">
        <h3 class="score-card__heading">109</h3>
        <p class="score-card__text">outlets</p>
      </article>
      <article class="score-card">
        <h3 class="score-card__heading">35</h3>
        <p class="score-card__text">countries</p>
      </article>
    </div>
  </div>
</section>
